* {
	background-color: black;
	color: white;
	
	box-sizing: border-box;
}

html {
	height: 100%;
}

/*Opening Page*/
#Begin {
	width: 75%;
	height: 100%;
	margin: auto;
}

.selector {
	position: relative;
	top: 0;
	margin: auto;
	height: 100%;
	width: 33%;
	border: 0;
	font-size: 3rem;
	display: inline-block;
}

.selector:hover {
	background-color: #222;
}

.selector:hover * {
	background-color: #222;
}

.NA {
	background-color: #111;
}

div.NA {
	font-size: 1rem;
	color: red;
	background-color: #111;
}


/*Game Board*/
.gameboard {
	grid-area: Game;
	height: 100%;
	width: auto;
}

/*Game Page*/
main {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

	visibility: hidden;

	display: grid;
	grid-template-columns: auto 1fr 1fr;
	grid-template-rows: 1fr 1fr 8%;
	grid-template-areas: 
		'Game Shiplist Info' 
		'Game Shiplist Buttons' 
		'Footer Footer Footer';

}

main * {
	visibility: visible;
}

@media only screen and (orientation: portrait) {
	.gameboard {
		width: 100%;
		height: auto;
	}
}

/*
.inputboxes {
	width: 360px;
}

.textboxes {
	width: 100px;
}

.numbox {
	width: 40px;
}

.delButton {
	background-color: black;
	color: red;
}

#MenuToggle {
	text-align: right;
	position: fixed;
	right: 0;
}
*/

#ShipList {
	grid-area: Shiplist;
	border: 1px solid #444;
	width: 100%;
}

#ShipList ul {
	list-style-type: none;
}

#Info {
	grid-area: Info;
	border: 1px solid #444;
}

#Info ul {
	list-style-type: none;
}

h3 {
	margin-top: 0;
	margin-left: 5px;
}

#Buttons {
	grid-area: Buttons;
	border: 1px solid #444;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 'b1 b2 b3 ZIn'
							'b4 b5 b6 ZOut'
							'b7 b8 b9 .'
							'Info Back . End';
}

.bgrid {
	border: none;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}

#IO {
	grid-area: Buttons;
	visibility: hidden;
}

#IO * {
	visibility: inherit;
}

#ZoomIn {
	grid-area: ZIn;
}

#ZoomOut {
	grid-area: ZOut;
}

#InfoButton {
	grid-area: Info;
}

#Back {
	grid-area: Back;
}

#EndTurn {
	grid-area: End;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
}

#Controls {
	position: absolute;
	top: var(--gridwidth);
	right: 0;
}

/*Game Stage Footer*/
footer {
	grid-area: Footer;
	background-color: #111;
	display: inline-flex;
	align-items: center;
	font-size: 1.5rem;
	z-index: 3;
}

.stageItem {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 1%;
	margin-right: 1%;
	width: 10%;
	height: 80%;
	border-radius: 20px;
	background-color: #222;
	text-align: center;
	font-size: 1rem;

	z-index: 1;
}

.active {
	background-color: #117;
}

#Menu {
	position: absolute;
	bottom: 0;
	right: 0;

	height: 8%;
	width: 5rem;

	border: none;
	background-color: #222;
	font-size: 2.5rem;

	z-index: 2;
}

/*Setting Page*/
header {
	text-align: center;
}

#Settings {
	display: flex;
	align-items: center;

	visibility: visible;

	height: 100%;
	width: 100%;
	margin: 0;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#SettingOptions {
	width: 80%;
	height: 100%;
	overflow-y: scroll;
}

#SettingTypes {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 20%;
	height: 100%;
}

#SettingTypes button {
	width: 100%;
	margin: 10px 0px;
	border: 1px solid #222;
	padding: 20px;

	text-align: center;
	text-decoration: none;

}

#SettingTypes button.active,
#SettingTypes button:hover {
	background-color: #444;
}

.SettingOptions {
	/*overflow: scroll;*/

	
	width: 100%;
	height: 100%;

	border: 1px solid #444;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#Return {
	position: absolute;
	bottom: 0 !important;
	left: 0 !important;

	height: 5rem !important;
	width: 5rem !important;
	margin: 0% !important;

	border: none;
	background-color: #222;
	font-size: 2.5rem;	

	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/* Game Settings */

#BoardSize .numbox {
	text-align: right;
}

/*#GameSettings div {
	width: 40%;
}*/

/*Player Settings*/

#PlayerSettings {
	/*overflow: scroll;*/

	width: 100%;
	height: 100%;

	border: 1px solid #444;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.player {
	display: grid;
	grid-template-columns: 10% 43% 22% 25%;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'Name Name Name Update' 
						 'AI Faction Color Delete';
}

/* Control Settings */

#ControlSettings div {

	width: 15%;
	height: 3rem;
	text-align: left;
}

#ControlSettings div button {
	height: 3rem;
	width: 5rem;

	border:  1px solid #222;

	position: sticky;
	left: 60%
}

hr {
	width: 15%;
}

/* Loading and Saving */
#LoadingSaving {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#Save {
	width: 50%;
}

#Save button {
	box-sizing: border-box;
	border: 1px #444 solid;
	margin: 0px;
	width: 48%;
	height: 10%

}	

#Load {
	width: 50%;
}

#Usave {
	box-sizing: border-box;
	border: 1px #444 solid;
	margin: 0px;
	width: 96%;
	height: 10%
}

#CurrSaves div{
	width: 96%;

	box-sizing: border-box;
	border: 1px #444 solid;
	margin: 0px;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'Name Name' 
						 'Load Delete';
}